.body {
    background-color: #F6F9FA !important;
}

.navbar {
    box-shadow : 0 2px 0 #1391D1;
    height: 3vh;
    margin-bottom: 3px;
    border-radius: 0;
}

.sidebar {
    background-color: #ffffff;
    height: 80vh;
    padding-left: 0;
    padding-right: 0
}

.body {
    padding: 0;
}

.main {
    background-color: #F6F9FA;
    height: 90vh;

}

.logo {
    height: 7vh;
    padding: 10px
}

.menu-item {
    padding: 20px;
    list-style-type: none;
    margin: 0;
}

.active {
    background-color:  #F6F9FA;
  }

.menu-item:active, .menu-item:hover, .menu-item:focus {
    padding: 20px;
    list-style-type: none;
    margin: 0;
    background-color:  #F6F9FA;
    border: none
}

p {
    outline: none
}

.text-menu {
    color: black;
}

.text-active {
    font-weight: bold;
}

.text-bold {
    color: black;
    font-weight: bold;
}

.text {
    font-size: 11px;
    padding: 10px  10px 0;
}

.header-text {
    font-size: 11px;
    padding: 10px 0 10px 4px;
    font-weight: 500;
}

.header {
    margin-top: 15px
}

.view {
    display: none;
}

.current {
    display: block;
}

.top {
    padding-top: 20px
}

.active {
    background-color:  #F6F9FA;
    margin-left: 0;
    margin-right: 0;
}

.form {
    padding-left: 15px;
}

input {
    border-radius: 0 !important;
}

.list {
    padding: 0
}

.menu-item a:focus {     
    background-color: #F6F9FA;
    ;   
}

.hidden {
    display: none;
}

.do-list {
    background-color: white;
    height: 70vh;
    padding: 0;
    border-right: 15px solid #F6F9FA;
    overflow: scroll;
}

.map {
    background-color: white;
    height: 70vh;
    padding: 0;
}

#mapid {
    height: 70vh;
}

.column {
    width: 15px;
    padding: 0;
    margin: 0
}

.in-main {
    padding: 15px;
}

.car {
    padding: 10px;
    list-style-type: none;
    margin: 0;
    border-bottom: 1px solid grey;
}

.list {
    padding: 0
}

.drive-order-list {
    padding: 0;
    position: relative;
}

.car-header {
    padding-left: 10px;
    border-bottom: 1px solid grey;
    margin: 0;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}

.car-img {
    width: 30px
}

.car-div {
    padding-left: 0;
    align-items: center;
    align-content: center;
    text-align: center;
    padding-right: 0
}

.car-number {
    font-weight: 500;
    font-size: 11px;
    text-align: center;
}

.car-text {
    font-size: 11px;
    padding: 10px 0 10px 0;
}

.info-div {
    text-align: center;
    padding: 0
}

.oval {
    width: 18px;
}

.minutes {
    font-size: 11px;
    text-align: center;
}

p {
    margin-bottom: 0px;
}

.card {
    width: 100%;
    background-color: #ffffff;
    height: 130px;
}
 h5 {
     padding: 15px
 }

 .filter-header {
     font-weight: 500;
     font-size: 12px;
     padding-bottom: 3px;
 }

 .div-icon {
     position: relative;
     z-index: -1;
 }

 .div-image {
    width: 30px;
    position: absolute;
    bottom: -27px;
    z-index: -1;
 }

 .icon-text {
     position: absolute;
     position: fixed;
     z-index: 0;
     bottom: -10px;
     left: 5px;
     color: white;
     font-size: 12px;
     font-family: Arial, Helvetica, sans-serif !important;
     font-weight: bold !important;
 }

 .line {
     padding-top: 7px;
     text-align: center;
     align-self: center;
 }

 .time-interval {
     width: 50px
 }

 .interval-container {
     padding-left: 15px;
 }

 .hover-popup {
     background-color: rgba(255,255,255, 0.8);
     width: 190px;
     border-radius: 5px !important;
     z-index: 3;
     position: absolute;
     bottom: -10px;
     left: -75px;
     /* height: 180px; */
     padding: 10px;
     transition: all 5s ease; 

 }

 .hide {
     visibility: none;
 }

 .time {
     margin: 0;
     padding: 0
 }

 .text-popup {
     font-size: 11px;
 }

 .indicator {
     padding-top: 3px;
 }

 .bold {
    font-weight: 500;
    padding: 0
 }

 .green {
     color: #007900;
     left: -25px;
     padding: 0
 }

 .alone {
     padding-top: 1px
 }

 /* .marker {
     z-index: -2
 } */
